header {
    background-color: #e5e7e8; /*  fondo del header */
    padding: 10px;
    text-align: center; 
    /* align-items: center; */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    
}
.logo {
    max-width: 150px; /* tamaño del logo */
}

